* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.382);
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.click {
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: 1px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
    margin-bottom: 10px;
}

.click:hover {
    background-color: #0056b3;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn {
    background-color: red;
    padding: 10px 10px;
    color: white;
    border: 1px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(157, 33, 33);
}